body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: white;
}

header{
  background-image: url(cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50em;
}
.logo{
  border-radius: 50%;
  width: 5em;
  margin-top: 1.5em;
  margin-left: 1.5em;
}

.headerText{
  margin-left: 10em;
  margin-top: 25em;
}

h1{
  color: white;
  font-size: 5em;
  font-family: 'Berkshire Swash', cursive;

}

header p{
  color: white;
  font-size: 2em;
font-family: 'Aladin', cursive;
}
.continue-btn{
  font-weight: bold;
  margin-left: 25em;
  color: white;
  background-color: green;

}
main{

  margin: 1em;
  display: flex;
  flex-direction: column;

}
article{
  border-top: 1px outset;
  margin-top: 2em;
  font-size: 1em;
  font-family: 'EB Garamond', serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.articleText{
  text-align: left;
}
h2{
  font-size: 3em;
  font-weight: bold;
}
.articleimg img{
  width: 20em;
  border-radius: 1em;
}
a:link,
a:visited,
a:hover,
a:active{
  color: grey;
  opacity: 0.7;
  text-decoration: none;
}
footer{
  margin-top: 5em;
  text-align: center;
  font-family: 'Aladin', cursive;
}

@media (max-width:1200px) {
.headerText{
  margin-left: 3em;
}
}

@media (max-width:700px) {
  .headerText{
    margin-left: 0.5em;
  }

  main{
    display: block;
  }
  article{
    font-size: 0.8em;
  }
  .articleimg img{
    width: 16em;
  }
}
@media (max-width:480px) {
  .headerText{
    margin-left: 1em;
  }
  h1{

    font-size: 4em;
  }
  header p{
    font-size: 2em;
  }
  .continue-btn{
    display: none;
  }
  .articleimg{
    display: none;
  }
  .articleText{
    width: auto;
  }
}
